#details{

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 900px;
    margin:10px 200px;
    border-radius: 50px;
}
#details td,#details th{

    border:1px solid rgb(0, 253, 245);
    padding:8px;
    
}
#details th{
    
    padding-top:12px;
    padding-bottom:12px;
    text-align:center;
    background-color: rgb(1, 36, 149);
    color:white;
    font-size: medium;
    font-weight: 500;
}
