table,tr,td,th{
    border: 2px solid greenyellow;
    border-collapse:collapse ;
   
}
table{
  height:700px; 
}
td{
   max-width: 300px; 
  }
  tr:hover{
    background-color: rosybrown;
  }
  th{
    background-color: grey; 
  }
  button{
    background-color: aqua;
    cursor: pointer;
    border: 0.1px solid black;
    border-radius: 10px ;
  }


